@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <h2 class="subtitle">Application conçue pour organiser une cacahuète :-) </h2>
    <p class="intro">Ecrivez les prénoms des personnes participant à la cacahuète</p>

    <form action="/submit" method="post">
        <fieldset>
            <legend>Prénoms des participants</legend>
            <div>
                <label for="prenom1">Prénom 1 :</label>
                <input class="input_lastname" type="text" id="prenom1" name="prenom1" required>
            </div>
            <div>
                <label for="prenom2">Prénom 2 :</label>
                <input class="input_lastname" type="text" id="prenom2" name="prenom2">
            </div>
            <div>
                <label for="prenom3">Prénom 3 :</label>
                <input class="input_lastname" type="text" id="prenom3" name="prenom3">
            </div>
            <div>
                <label for="prenom4">Prénom 4 :</label>
                <input class="input_lastname" type="text" id="prenom4" name="prenom4">
            </div>
            <div>
                <label for="prenom5">Prénom 5 :</label>
                <input class="input_lastname" type="text" id="prenom5" name="prenom5">
            </div>
            <div>
                <label for="prenom6">Prénom 6 :</label>
                <input class="input_lastname" type="text" id="prenom6" name="prenom6">
            </div>
            <div>
                <label for="prenom7">Prénom 7 :</label>
                <input class="input_lastname" type="text" id="prenom7" name="prenom7">
            </div>
            <div>
                <label for="prenom8">Prénom 8 :</label>
                <input class="input_lastname" type="text" id="prenom8" name="prenom8">
            </div>
            <div>
                <label for="prenom9">Prénom 9 :</label>
                <input class="input_lastname" type="text" id="prenom9" name="prenom9">
            </div>
            <div>
                <label for="prenom10">Prénom 10 :</label>
                <input class="input_lastname" type="text" id="prenom10" name="prenom10">
            </div>
        </fieldset>
        
        <div class="div_button_distr">
            <button class="text" type="submit">Distribuer</button>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
        </div>
    </form>

    
</div>
